<footer class="font-small bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-5">
                <div class="flex-center">
                    <a class="social" href="{{ settings.WEBSITE_SOCIAL_TWITTER }}"><i class="fab fa-facebook fa-2x"></i></a>
                    <a class="social" href="{{ settings.WEBSITE_SOCIAL_FACEBOOK }}"><i class="fab fa-twitter fa-2x"></i></a>
                    <a class="social" href="{{ settings.WEBSITE_SOCIAL_GAME }}"><i class="fas fa-gamepad fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div id="copyright" class="py-3">
        Copyright &copy; 2018 <a href="{{ settings.WEBSITE_LINK }}"> {{ settings.WEBSITE_TITLE }}</a> — Powered by <a href="{{ settings.APP_WEBSITE }}">{{ settings.APP_NAME }}</a>.
    </div>

</footer>